.featured-slider {
  background: #fff;
  text-align: center;
}

.featured-slider__heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.featured-slider__subheading {
  font-size: 1rem;
  color: #666;
  margin-bottom: 3rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.featured-slider__swiper {
  position: relative;
}

.featured-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-slider__image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.featured-slider__slide-heading {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.featured-slider__slide-subheading {
  font-size: 1rem;
  color: #555;
}

@media (min-width: 768px) {
  .featured-slider__swiper .swiper-slide {
    max-width: 300px;
    margin: 0 auto;
  }
}
