.featured-slider {
  background: #fff;
  text-align: center;
}

.featured-slider__heading {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 56px;
  line-height: 72px;
  letter-spacing: -1px;
  text-align: center;
}

.featured-slider__subheading {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #7A7777;
  max-width: 748px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.featured-slider__swiper {
  position: relative;
  margin-top: 100px;
}

.featured-slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-slider__image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.featured-slider__slide-heading {
  margin-bottom: .5rem;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: -1px;
}

.featured-slider__slide-subheading {
  color: #7A7777;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
}

.slider-heading,
.slider-subtitle {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slider-heading.animate {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.slider-subtitle.animate {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

@media (min-width: 768px) {
  .featured-slider__swiper .swiper-slide {
    max-width: 434px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .featured-slider__heading {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 40px;
  }

  .featured-slider__subheading {
    font-size: 16px;
    padding: 0 53px;
  }

  .featured-slider__swiper {
    margin-top: 62px;
  }
}